<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Main Test Suite" parallel="tests" verbose="1">
    <test name="Grid Chrome Test A">
    <parameter name="browser" value="firefox"/>
        <classes>
        <class name="Day5.ParallelTestA"/>
        </classes>
    </test>
    <test name="Grid chrome Test B">
    <parameter name="browser" value="chrome"/>
        <classes>
        <class name="Day5.ParallelTestB"/>
        </classes>
    </test>
</suite>
 <!-- end -->
